p{
    color: rgb(249, 81, 19);
    font-size: 25px;
}
table{
    height: 100px;
    text-align: center;
    padding-top: 10px;
    width: 100%;
    height: 200px;
    table-layout: fixed;
}
td,tr,th{
    border:1px solid rgb(8, 8, 8);
}
.context{
    display: inline-flex;
    flex-direction: row;
}
.table{
    display:flex;
    flex-direction: row;
    width: 100%;
}
#container{
    display: flex;
}
.top{
    padding-left: 25px;
    padding-top: 25px;
}
#cityname{
    border: solid orange;
    width: 180px;
    height: 25px;
    border-radius: 5px; 
}
#btn{
    background-color: orangered;
    border: solid orangered;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}
#date{
    background-color: rgb(253, 73, 7);
}
#grey{
    background-color: rgb(130, 126, 126);
}
#white{
    background-color: white;
}
@media only screen and (min-width: 600px) {
       .responsive-table{
           max-width: 100%;
           margin-bottom: 8px;
          }
   }
@media only screen and (min-width: 768px) {
   .responsive-table{
       max-width: 65%;
       margin-bottom: 8px;
      }
}
@media only screen and (min-width: 350px) and (orientation:portrait)
{
          .responsive-table{
           max-width: 100%;
           margin-bottom: 8px;
          }
     
}